/*
/* Principal Stylesheet for Howard Center
/*


/*********************
/* COLORS  &  MIXINS
/*********************

@import url('https://fonts.googleapis.com/css?family=Slabo+13px')

$headingStack: 'Slabo 13px', serif
$arial: 'Arial', sans-serif

// Colors
$lightblue: #e5ebec
$blue: #0b3b49
$greenblue: #007d8b
$orange: #ffa400
$orange-red: #ef7622
$red: #ff3a1e
$olive: #8c8c49

// Button Mixims
=bluebutton
  background: rgba(1,100,153,0.79)
  font-size: 1.25rem
  color: #FFFFFF
  border: 2px solid rgb(1,100,153)
  border: 2px solid rgba(1,100,153,0.79)
  -webkit-background-clip: padding-box
  /* for Safari */
  background-clip: padding-box
  &:hover
    background: transparent
    border: 2px solid rgb(1,100,153)
    border: 2px solid rgba(1,100,153,0.79)
    -webkit-background-clip: padding-box
    /* for Safari */
    background-clip: padding-box
    color: $blue

=orangebutton
  background: $orange-red
  color: #fff
  border: 2px solid $orange-red
  //font-size: 1.25rem
  //padding: .5rem .75rem
  font-weight: bold
  &:hover
    background: #fff
    border: 2px solid $orange-red
    color: $orange-red

=hollowbutton
  background-color: transparent
  border: 1px solid $orange
  padding: .85rem 1rem
  color: #494949
  &:hover
    background-color: rgba(239, 122, 35, 0.41)
    color: #fff


=cssTransition($secs)
  transition: all $secs ease-in-out

=arrow($size, $color)
  border-top: $size solid transparent
  border-bottom: $size solid transparent
  border-left: $size solid $color
  display: inline-block
  height: 0
  width: 0

@keyframes push
  50%
    transform: scale(0.8)

@keyframes outandback
  50%
    transform: translateX(10px)
  100%
    transform: translateX(0)

/*********************
/* GENERAL STYLES
/*********************

*
  +cssTransition(.3s)

// Sets REM root size to 16px
html
  font-size: 100%

body
  color: $blue

/*********************
/* LINK STYLES
/*********************
a, a:visited
  // Mobile tap color
  &:link
    //Highlight links on iOS, Similar to :hover for mobile devices.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3)
  &:hover
    color: rgba(1, 86, 132, 0.7)

// Default Button
.button
  +bluebutton
  .arrow
    +arrow(8px, #fff)
  &:hover
    .arrow
      +arrow(8px, $blue)

// Orange Button
.button.orange
  +orangebutton

/*********************
/* H1, H2, H3, H4, H5 P STYLES
/*********************
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
  font-family: $headingStack
  font-weight: bold
  color: $blue

  // Removing text decoration from all headline links
  a
    text-decoration: none

h1, .h1
  line-height: 2.8rem

h2, .h2

h3, .h3

h4, .h4

h5, .h5

p
  line-height: 1.5rem

ul.check
  list-style: none
  margin-left: 0
  li
    padding-left: 35px
    background: url(../images/greencheck.png) no-repeat 0px 2px
    background-size: 27px
    font-weight: bold
    margin-bottom: .25rem

blockquote
  font-size: 1.2rem
  font-weight: 300
  font-style: italic
  margin: 0 0 2rem
  position: relative
  &:after
    content: "\0022"
    position: absolute
    top: -6px
    left: -4px
    font-size: 3rem

select
  border: 1px solid $greenblue
  color: $blue

.search
  position: relative
  input
    text-indent: 32px
    border-radius: 25px
    border-color: $greenblue
  .fi-magnifying-glass
    position: absolute
    left: 12px
    font-size: 1.5rem
    color: $blue

/********************************/
// HEADER
/********************************/

// NAVIGATION
#menu-utility-links-1
  li
    padding: .5rem 0
    a
      font-weight: bold
      color: $blue
      font-size: .9rem
      padding: 0 .5rem
      border-right: 2px solid #0b3b49
      &:hover
        color: #457786
  li:last-child
    a
      border-right: 0

li.portal a, li.donate a
    padding: .35rem .75rem
    border-radius: 15px
    margin: 5px
    font-weight: bold
    text-transform: uppercase

li.portal a
  background: #fff
  color: #0b3b49
  border: 1px solid #0b3b49
  &:hover
    background: $blue
    color: #fff

li.donate a
    background: $greenblue
    color: #fff
    &:hover
      background: $blue
      color: #fff



.headerMain
  height: 175px
  img.logo
    width: 360px
    margin-top: 15px
  .helpNow, .mainNumber
    width: 295px
    border-radius: 50px
    padding: .5rem
    float: left
    margin: 80px 20px 0 0
    text-align: center
    span
      display: block
      font-size: 1.2rem
      text-align: center
      float: left
      margin-left: 30px
      &:first-child
        font-family: $headingStack
      &.number
        font-size: 1.75rem
        font-weight: 900
        margin-top: -7px
        margin-left: 15px
  .helpNow
    background: $red url('../images/First-Call-4c.png') no-repeat top right
    color: #fff
    background-size: contain
    +cssTransition(.3)
    &:hover
      background-color: #da321a
      cursor: pointer
    a
      color: #fff
  .mainNumber
    background: $lightblue
    color: $blue
    .mainEmail
      border-left: 1px solid #7196a0
      float: right
      height: 50px
      font-size: 1rem
      padding-left: 1px
      font-family: $headingStack
      width: 75px
      margin: -23px 0 0 10px
      i
        display: block
        font-size: 2rem
        line-height: 1rem


//
// MEGA MENU
//
.megaMenu
  background-color: $greenblue

body.mega-menu-mega-nav #mega-menu-wrap-mega-nav #mega-menu-mega-nav
  li#mega-menu-item-11
    max-width: 231px
  li#mega-menu-item-12
    max-width: 238px
  li#mega-menu-item-13
    max-width: 318px
  .mega-search
    .search-icon:before
      line-height: 49px !important
    &.expand-to-right
      top: 0
body.mega-menu-mega-nav #mega-menu-wrap-mega-nav #mega-menu-mega-nav
  // Top Level items
  a.mega-menu-link:before
    float: left
    background-position: 0px -1px
  a.mega-menu-link
    padding-top: 10px
    line-height: 19px
    font-family: $headingStack
  span
    font-family: Arial, sans-serif
    text-transform: uppercase
    font-weight: normal
    padding-top: 10px
    font-size: .9rem

body.mega-menu-mega-nav #mega-menu-wrap-mega-nav #mega-menu-mega-nav
  // DS header
  #mega-menu-item-11 .mega-menuHeader
    background: $orange-red
  #mega-menu-item-12 .mega-menuHeader
    background: $olive
  #mega-menu-item-13 .mega-menuHeader
    background: $orange
  .mega-menuHeader
      width: 100%
      li.mega-menu-item
        padding: 30px 0 2px 0 !important
        h4
          color: #fff !important
          font-size: 1.5rem !important
          padding-left: 225px
          span
            font-size: 1rem
            font-family: $arial
            text-transform: uppercase
            font-weight: normal
  .mega-menuIcon
    position: absolute !important
    top: 5px !important
    left: 30px !important
    width: 150px !important
    z-index: 100

// Menu items in a menu widget in the mega menu grid
body.mega-menu-mega-nav #mega-menu-wrap-mega-nav #mega-menu-mega-nav
  li.mega-menu-item.widget_nav_menu ul li
    border-bottom: 1px solid #809da4
    padding: .4rem 0
    a
      text-transform: uppercase
      font-weight: 600
      font-size: 1rem
      +cssTransition(.3s)
      &:hover
        color: #a4bcc2
  // SmallRight menu in Mega Menu
  li.mega-smallRight a.mega-menu-link, li.mega-smallRight div.mega-search-wrap
      background-color: #007d8b !important
      font-weight: normal !important
      text-transform: uppercase !important
      padding: .5rem 1rem !important
      vertical-align: middle
      line-height: 47px !important
      font-size: .9rem
      font-family: $arial
      border-right: 1px solid #74abb1

/********************************/
// HERO SECTION
/********************************/

#hero
  height: 450px
  width: 100%
  background: url('../images/HC-hero.jpg') no-repeat top left
  background-size: cover

// Languages
#langWelcome
  width: 100%
  height: 130px
  background-color: #e5f2f3
  img
    margin: 22px auto
    display: block
    width: 80%

/********************************/
// HOMEPAGE SECTION
/********************************/

body.home
  header.article-header
    display: none
  .useIcons
    text-align: center
    margin-top: 3rem
    &.grid-x > .large-1
      width: 11.33333%
      padding: 5px
    h4
      font-size: 1rem
      font-family: $arial
      margin: .5rem 0 0 0
      text-transform: uppercase
    h5
      font-size: .9rem
      font-weight: normal
      text-transform: uppercase
      font-family: $arial
    img.icon
      width: 75%
    .icon-button
      display: block
      transition: .4s
      &:hover
        transform: translate(0, -10px)
        h4, h5
          color: #5d7075
  h3.needHelp
    text-align: center
    margin: 4rem 0 2rem
    font-family: $arial
    font-size: 1.45rem
    color: $greenblue
    font-weight: normal
  #bulletin1
    background-color: #f0f0e7
    margin-top: 4rem
    padding: 3rem 0
    h3.bulletinHeading
      text-align: center
      margin-bottom: 2rem
      font-size: 1.75rem
    .cell a
      position: relative
      display: block
      border-radius: 7px
      overflow: hidden
      .post-info
        visibility: hidden
        opacity: 0
        position: absolute
        text-align: center
        padding: 2rem
        top: 0
        font-size: 1.35rem
        font-family: $headingStack
        height: 100%
        p
          line-height: 1.75rem
          top: 35%
          position: relative
        &.Blue
          background-color: $blue
          color: #fff
        &.Orange
          background-color: $orange
          color: $blue
        &.Red
          background-color: $red
          color: #fff
        &.Orange.red
          background-color: $orange-red
          color: #blue
        &.Green.blue
          background-color: $greenblue
          color: $blue
        &.Olive
          background-color: $olive
          color: #fff
      &:hover .post-info
        visibility: visible
        opacity: 1
  #bulletin2
    background-color: #f0f0e7
    padding: 0 0 2rem
    .cell.jobs > div, .cell.twitter > div
      background: #fff
      border: 1px solid #dcdcdc
      border-radius: 7px
      padding: 2rem
      h3
        font-weight: normal
      ul
        list-style-type: none
        margin: 1rem 0 2rem
        li
          padding: .25rem 0
          a
            font-weight: bold
            color: $greenblue
            font-size: 1.25rem
            text-decoration: underline
            &:hover
              color: $blue
    .cell.directions
      h4
        font-weight: normal
        text-align: center
      .mapCircle
        border-radius: 382px
        border: 1px solid #dcdcdc
        overflow: hidden
        width: 363px
        margin: 0 auto
        position: relative
        background-color: $orange-red
        img
          opacity: 1
        &:hover img
          opacity: .6
    .cell.twitter
      .timeline-Widget ol.timeline-TweetList .timeline-Tweet-media
        display: none
      li#do-etfw-2
        list-style-type: none


/********************************/
// PAGES & POSTS
/********************************/

.inner-content
  margin: 3rem 0
  h1, h2, h3, h4
    font-family: $arial
  header.article-header
    margin-bottom: 1rem
    img
      margin-bottom: 1.5rem
    h1.page-title
      font-size: 2.5rem
  .entry-content
    h2
      font-size: 2rem
    h3
      font-size: 1.25rem
      text-transform: uppercase
      background-color: #e5ebec
      padding: .25rem 1.5rem .25rem 1rem
      display: inline-block
      margin: 1.25rem 0 1.5rem
      border-top-right-radius: 20px
      border-bottom-right-radius: 20px
      &:first-child
        margin: 1rem 1.5rem 1.5rem 0


/********************************/
// SIDEBAR
/********************************/


.sidebar
  .menu .active a
    color: rgba(1, 86, 132, 0.7)
    position: relative
    text-indent: 30px
    font-weight: bold
    &:before
      border-bottom: 10px solid rgba(0, 0, 0, 0)
      border-left: 10px solid #296a7d
      border-top: 10px solid rgba(0, 0, 0, 0)
      content: ""
      position: absolute
      top: 7px
      left: 66px
      z-index: 100
  div.ds
    position: relative
    &:before
      content: ""
      background: url('../images/DS-icon.png')
      background-size: 70px 70px
      background-repeat: no-repeat
      width: 70px
      height: 70px
      line-height: 60px
      vertical-align: middle
      position: absolute
      z-index: 40
      top: -10px
      left: -15px
    h4
      background: $orange-red
      color: #fff !important
      font-size: 1.5rem !important
      font-family: $headingStack
      position: relative
      border-top-left-radius: 60px
      border-bottom-left-radius: 60px
      margin-bottom: -20px
      z-index: 20
      text-indent: 55px
      padding: .5rem
      span
        font-size: 1rem
        font-family: $arial
        text-transform: uppercase
        font-weight: normal
  // Global sidebar
  ul
    li.menu-header, li.who-header
      font-size: 1.35rem
      font-family: $headingStack
      padding-top: 2rem
      font-weight: bold
    li
      display: block
      width: 100%
      a
        text-transform: uppercase
        padding-left: 4rem
        &:hover
          text-indent: 2px
    li.who-child a
      background: url('../images/children-icon.png') no-repeat 25px 5px
      background-size: 30px
    li.who-adult a
      background: url('../images/adult-icon.png') no-repeat 25px 5px
      background-size: 30px
    li.who-family a
      background: url('../images/families-icon.png') no-repeat 25px 5px
      background-size: 30px
      padding-bottom: 2rem
  // DS Sidebar
  ul#menu-ds-sidebar
    li.menu-header
      background-color: #fef5f0
    li a
        background-color: #fef5f0
    li.who-header
      background-color: #fcddc8
      padding-top: 1rem
      a
        background-color: #fcddc8
    li.who-child a, li.who-adult a, li.who-family a
      background-color: #fcddc8


// #mega-menu-item-12 .mega-menuHeader
//   background: $olive
// #mega-menu-item-13 .mega-menuHeader
//   background: $orange
.mega-menuHeader
    width: 100%
    li.mega-menu-item
      padding: 30px 0 2px 0 !important
      h4


.mega-menuIcon
  position: absolute !important
  top: 5px !important
  left: 30px !important
  width: 150px !important
  z-index: 100

/********************************/
//  STORIES SECTION
/********************************/

.hc-stories
  background-color: $greenblue
  padding: 4rem 2rem
  color: #fff
  h2
    font-size: 1.5rem
    color: #fff
    margin-bottom: 1rem
  .circleWrap
    width: 275px
    height: 275px
    border-radius: 275px
    overflow: hidden
    background-size: cover
  .large-5
    position: relative
    .story
      position: absolute
      top: 50%
      transform: translateY(-50%)
  .large-offset-1
    position: relative
    blockquote
      font-family: $headingStack
      color: #fff
      border-left: 0
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-size: 1.1rem
      line-height: 1.4rem
      &:after
        top: 15px
    span.author
      font-size: 1.25rem
      float: right
      display: block
      width: 70%
      margin-top: 20px
      position: relative
      font-family: $arial
      &:before
        content: "~"
        position: absolute
        left: -17px


/********************************/
// FOOTER
/********************************/

.footer
  margin-top: 0

.top-footer
  background-color: $blue
  padding: 2rem 0
  color: #fff
  a h4
    color: #fff
    font-weight: normal
    text-align: center
    margin-bottom: 0
    padding: .75rem 0
    //border-right: 1px solid #406c77
    display: inline-block
    float: left
  .cell:last-child a h4
    border-right: 0
  span
    display: inline-block
    background-color: #fff
    width: 40px
    height: 40px
    border-radius: 25px
    float: left
  i
    font-size: 2rem
    display: inline-block
    position: relative
  .newsletter
    h4
      padding-left: 25%
    i
      float: left
      color: #fff
      margin: 5px 0 0 10px
    .fi-arrow-right:before
      content: "\f10b"
    &:hover
      h4
        color: #bbdde6
      i
        animation: outandback .3s ease-in 1
  .latest-news
    span
      margin: 10px 15px 0 20px
      padding: 0 0 0 6px
      i
        line-height: 2.75rem
        color: $orange
      .fi-megaphone:before
        transform: rotate(-15deg)
    &:hover
      h4
        color: #bbdde6
      span
        animation: push 0.3s ease-out 1
  .social
    h4
      font-weight: normal
      text-align: center
      margin: 0 15px 0 0
      padding: .75rem 0
      display: inline-block
      color: #fff
      float: left
    span
      margin: 10px 5px
      padding: 0 0 0 8px
      i
        line-height: 2.75rem
        color: $blue
      &:hover
        animation: push 0.3s ease-out 1
  .newsletter, .latest-news
    position: relative
    &:after
      content: ""
      position: absolute
      height: 60px
      width: 1px
      background-color: #406c77
  .newsletter:after
    right: 15px
  .latest-news:after
    right: 45px


.colorBar
  background: url('../images/footer-color-bar.jpg') repeat top left
  height: 28px
  background-size: contain
  border-top: 1px solid #fff

.bottom-footer
  padding: 2rem 2rem 0
  text-transform: uppercase
  .cell
    position: relative
    // separator
    &:after
      content: ""
      position: absolute
      height: 150px
      width: 1px
      background: #d9e2e4
      top: 0
      right: -10px
    &:nth-child(4):after, &:nth-child(5):after
      display: none
  .cell:nth-child(2) p
    font-weight: normal
    text-transform: none
    font-size: 1rem
    line-height: 1.3rem
  h2
    font-family: $arial
    font-size: 1rem
    text-transform: uppercase
  p
    font-size: .8rem
    line-height: 1rem
    font-weight: bold
  ul
    margin-left: 0
    list-style-type: none
    li a
      font-weight: bold
      font-size: .8rem
      padding: .25rem 0
  img.footerLogo
    margin-bottom: 1rem
  .cell:first-child p
    margin-left: 7rem
  .copy
    border-top: 1px solid #ececec
    p.copyright
      margin: 0
      padding: .75rem 0
      font-weight: normal
      text-transform: none
  ul.missionLogos li
    width: 30%
    float: left
    margin-right: 10px
    a:hover img
      opacity: .7
  ul.quickLinks li
    width: 45%
    float: left
    line-height: 1rem
    margin: 0 .5rem .25rem 0
    a
      font-weight: normal







